<div class="row">
  <div class="col-md-6">
    <h3 *ngIf="editpost===false">Add Post</h3>
    <h3 *ngIf="editpost===true">Edit Post</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">  
      <div class="form-group">
        <label for="">Title</label>
        <input type="text" name="" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <textarea  type="text" name="" class="form-control" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="">Image Path</label>
        <input type="text" name="" class="form-control" formControlName="imagePath">
        <img src="{{form.value.imagePath}}" class="img-responsive">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button> | 
      <button type="reset" class="btn btn-primary">Clear</button>

    </form>
  </div>
</div>
